.alloy {
  position: relative;
  width: 100%;
  height: 40vw;
  overflow: hidden;

  &-carousel {
    position: relative;
    width: 100%;
    height: 100%;

    &-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      transition: opacity 2s, visibility 2s;
    }
  }

  &-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 22vw;
    background: white;
    padding: 2vw 3vw;
  }

  &-drip {
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 0;
    right: 0;
    background: url('../../assets/images/drip3.svg');
    background-size: cover;
    transform: translateY(-100%);
    transition: transform 1s;
  }

  &.inview {
    .alloy-drip {
      transform: translateY(0);
    }
  }
}