@import '../../index.scss';

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.passcode {
  position: fixed;
  // inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: rgba(0, 0, 0, .5);

  &-body {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/images/mandala.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &-form {
      pointer-events: all;
      &-input {
        font-family: 'Warsaw Gothic';
        font-size: 3rem;
        text-align: center;
        color: $purple;
        outline: 0;

        text-transform: uppercase;
        margin-right: .25rem;
        border: 5px solid white;
        transition: border .5s;
      }

      &-submit {
        padding: .35rem .75rem;
        outline: none;

      }
    }
  }

  &.invalid {
    .passcode-body-form {
      animation: shake .75s;
      .passcode-body-form-input {
        border: 5px solid red;
      }
    }
  }
}