@import '../../index.scss';

.carousel {
  position: absolute;
  inset: 0;
  height: calc(100vh - 5rem);
  * {
    user-select: none;
  }

  &-pages {
    touch-action: none;
    position: absolute;
    inset: 0;

    overflow-x: hidden;
    overflow-y: scroll;
  }


  .scroll-hint, .continue-hint {
    background: $purple;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s, visibility 1s;
    transition-delay: 1s;
    pointer-events: none;
    max-width: 32rem;

    h2, p {
      padding: 1rem .5rem;
      text-align: center;
      color: white !important;
      font-family: 'Warsaw Gothic' !important;
      // padding: .5rem 2rem;
      font-size: 2rem;
      white-space: wrap !important;
      margin: .25rem .5rem;
    }

    p {
      line-height: 2rem !important;
// margin: 1rem !important;
    }

    h2 {
      word-spacing: .25rem;
    }

    button {
      pointer-events: auto;
    }
  }
}